In [1]:

import pandas as pd
import numpy as np

In [2]:
population_data = pd.read_csv("data/population.csv")
population_data.head()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124

In [3]:
#Renaming columns 
popul_data = population_data.rename(columns={"District.Code": "DistrictCode","District.Name": "DistrictName","Neighborhood.Code": "NeighborhoodCode", "Neighborhood.Name":"NeighborhoodName"})
popul_data

,Year,DistrictCode,DistrictName,NeighborhoodCode,NeighborhoodName,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124
5,2017,2,Eixample,6,la Sagrada Família,Male,0-4,191
6,2017,2,Eixample,7,la Dreta de l'Eixample,Male,0-4,176
7,2017,2,Eixample,8,l'Antiga Esquerra de l'Eixample,Male,0-4,158
8,2017,2,Eixample,9,la Nova Esquerra de l'Eixample,Male,0-4,220
9,2017,2,Eixample,10,Sant Antoni,Male,0-4,143
10,2017,3,Sants-Montjuïc,11,el Poble Sec,Male,0-4,180
11,2017,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Male,0-4,10
12,2017,3,Sants-Montjuïc,13,la Marina de Port,Male,0-4,124
13,2017,3,Sants-Montjuïc,14,la Font de la Guatlla,Male,0-4,47
14,2017,3,Sants-Montjuïc,15,Hostafrancs,Male,0-4,79
15,2017,3,Sants-Montjuïc,16,la Bordeta,Male,0-4,80
16,2017,3,Sants-Montjuïc,17,Sants - Badal,Male,0-4,84
17,2017,3,Sants-Montjuïc,18,Sants,Male,0-4,195
18,2017,4,Les Corts,19,les Corts,Male,0-4,173
19,2017,4,Les Corts,20,la Maternitat i Sant Ramon,Male,0-4,85
20,2017,4,Les Corts,21,Pedralbes,Male,0-4,37
21,2017,5,Sarrià-Sant Gervasi,22,"Vallvidrera, el Tibidabo i les Planes",Male,0-4,16
22,2017,5,Sarrià-Sant Gervasi,23,Sarrià,Male,0-4,119
23,2017,5,Sarrià-Sant Gervasi,24,les Tres Torres,Male,0-4,71
24,2017,5,Sarrià-Sant Gervasi,25,Sant Gervasi - la Bonanova,Male,0-4,104
25,2017,5,Sarrià-Sant Gervasi,26,Sant Gervasi - Galvany,Male,0-4,203
26,2017,5,Sarrià-Sant Gervasi,27,el Putxet i el Farró,Male,0-4,150
27,2017,6,Gràcia,28,Vallcarca i els Penitents,Male,0-4,66
28,2017,6,Gràcia,29,el Coll,Male,0-4,37
29,2017,6,Gràcia,30,la Salut,Male,0-4,57
...,...,...,...,...,...,...,...,...
70050,2013,8,Nou Barris,44,Vilapicina i la Torre Llobeta,Female,>=95,67
70051,2013,8,Nou Barris,45,Porta,Female,>=95,43
70052,2013,8,Nou Barris,46,el Turó de la Peira,Female,>=95,18
70053,2013,8,Nou Barris,47,Can Peguera,Female,>=95,5
70054,2013,8,Nou Barris,48,la Guineueta,Female,>=95,13
70055,2013,8,Nou Barris,49,Canyelles,Female,>=95,3
70056,2013,8,Nou Barris,50,les Roquetes,Female,>=95,12
70057,2013,8,Nou Barris,51,Verdun,Female,>=95,15
70058,2013,8,Nou Barris,52,la Prosperitat,Female,>=95,23
70059,2013,8,Nou Barris,53,la Trinitat Nova,Female,>=95,17
70060,2013,8,Nou Barris,54,Torre Baró,Female,>=95,4
70061,2013,8,Nou Barris,55,Ciutat Meridiana,Female,>=95,4
70062,2013,8,Nou Barris,56,Vallbona,Female,>=95,5
70063,2013,9,Sant Andreu,57,la Trinitat Vella,Female,>=95,9
70064,2013,9,Sant Andreu,58,Baró de Viver,Female,>=95,3
70065,2013,9,Sant Andreu,59,el Bon Pastor,Female,>=95,8
70066,2013,9,Sant Andreu,60,Sant Andreu,Female,>=95,103
70067,2013,9,Sant Andreu,61,la Sagrera,Female,>=95,45
70068,2013,9,Sant Andreu,62,el Congrés i els Indians,Female,>=95,35
70069,2013,9,Sant Andreu,63,Navas,Female,>=95,39
70070,2013,10,Sant Martí,64,el Camp de l'Arpa del Clot,Female,>=95,91
70071,2013,10,Sant Martí,65,el Clot,Female,>=95,36
70072,2013,10,Sant Martí,66,el Parc i la Llacuna del Poblenou,Female,>=95,18
70073,2013,10,Sant Martí,67,la Vila Olímpica del Poblenou,Female,>=95,9
70074,2013,10,Sant Martí,68,el Poblenou,Female,>=95,48
70075,2013,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,>=95,21
70076,2013,10,Sant Martí,70,el Besòs i el Maresme,Female,>=95,25
70077,2013,10,Sant Martí,71,Provençals del Poblenou,Female,>=95,31
70078,2013,10,Sant Martí,72,Sant Martí de Provençals,Female,>=95,38
70079,2013,10,Sant Martí,73,la Verneda i la Pau,Female,>=95,47

In [4]:
popul_data.DistrictName.unique()

array(['Ciutat Vella', 'Eixample', 'Sants-Montjuïc', 'Les Corts',
       'Sarrià-Sant Gervasi', 'Gràcia', 'Horta-Guinardó', 'Nou Barris',
       'Sant Andreu', 'Sant Martí'], dtype=object)

In [5]:
popul_data.sample()

,Year,DistrictCode,DistrictName,NeighborhoodCode,NeighborhoodName,Gender,Age,Number
59822,2013,7,Horta-Guinardó,36,la Font d'en Fargues,Male,50-54,58

In [6]:
popul_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70080 entries, 0 to 70079
Data columns (total 8 columns):
Year                70080 non-null int64
DistrictCode        70080 non-null int64
DistrictName        70080 non-null object
NeighborhoodCode    70080 non-null int64
NeighborhoodName    70080 non-null object
Gender              70080 non-null object
Age                 70080 non-null object
Number              70080 non-null int64
dtypes: int64(4), object(4)
memory usage: 4.3+ MB

In [7]:
popul_data.columns

Index(['Year', 'DistrictCode', 'DistrictName', 'NeighborhoodCode',
       'NeighborhoodName', 'Gender', 'Age', 'Number'],
      dtype='object')

In [8]:
popul_data.isnull().sum()

Year                0
DistrictCode        0
DistrictName        0
NeighborhoodCode    0
NeighborhoodName    0
Gender              0
Age                 0
Number              0
dtype: int64

In [9]:
popul_data.index

RangeIndex(start=0, stop=70080, step=1)

In [10]:
popul_data.shape

(70080, 8)

In [11]:
popul_data.describe()

               Year  DistrictCode  NeighborhoodCode        Number
count  70080.000000  70080.000000      70080.000000  70080.000000
mean    2015.000000      6.246575         37.000000    114.844720
std        1.414224      2.788356         21.071458     96.540389
min     2013.000000      1.000000          1.000000      0.000000
25%     2014.000000      4.000000         19.000000     43.000000
50%     2015.000000      7.000000         37.000000     92.000000
75%     2016.000000      8.000000         55.000000    162.000000
max     2017.000000     10.000000         73.000000    777.000000

In [12]:
popul_data.dtypes

Year                 int64
DistrictCode         int64
DistrictName        object
NeighborhoodCode     int64
NeighborhoodName    object
Gender              object
Age                 object
Number               int64
dtype: object

In [13]:
popul_data.Number.sum()

8048318

In [14]:
(popul_data.groupby(["DistrictName", "Year"])["Number"].sum()).to_frame()

                          Number
DistrictName        Year
Ciutat Vella        2013  103339
                    2014  100685
                    2015  100115
                    2016  100070
                    2017  101387
Eixample            2013  264780
                    2014  263565
                    2015  263558
                    2016  264305
                    2017  266416
Gràcia              2013  120949
                    2014  120273
                    2015  120401
                    2016  120918
                    2017  121347
Horta-Guinardó      2013  167743
                    2014  166950
                    2015  166559
                    2016  167268
                    2017  168751
Les Corts           2013   81640
                    2014   81200
                    2015   81530
                    2016   81642
                    2017   82033
Nou Barris          2013  165748
                    2014  164516
                    2015  164648
                    2016  164881
                    2017  166579
Sant Andreu         2013  146846
                    2014  145983
                    2015  146494
                    2016  146731
                    2017  147594
Sant Martí          2013  232826
                    2014  232629
                    2015  233659
                    2016  233928
                    2017  235513
Sants-Montjuïc      2013  182685
                    2014  180824
                    2015  180757
                    2016  180977
                    2017  181910
Sarrià-Sant Gervasi 2013  145266
                    2014  145761
                    2015  146834
                    2016  148026
                    2017  149279

In [15]:
(popul_data.groupby(["DistrictCode","DistrictName", "Year"])["Number"].sum()).to_frame()

                                       Number
DistrictCode DistrictName        Year
1            Ciutat Vella        2013  103339
                                 2014  100685
                                 2015  100115
                                 2016  100070
                                 2017  101387
2            Eixample            2013  264780
                                 2014  263565
                                 2015  263558
                                 2016  264305
                                 2017  266416
3            Sants-Montjuïc      2013  182685
                                 2014  180824
                                 2015  180757
                                 2016  180977
                                 2017  181910
4            Les Corts           2013   81640
                                 2014   81200
                                 2015   81530
                                 2016   81642
                                 2017   82033
5            Sarrià-Sant Gervasi 2013  145266
                                 2014  145761
                                 2015  146834
                                 2016  148026
                                 2017  149279
6            Gràcia              2013  120949
                                 2014  120273
                                 2015  120401
                                 2016  120918
                                 2017  121347
7            Horta-Guinardó      2013  167743
                                 2014  166950
                                 2015  166559
                                 2016  167268
                                 2017  168751
8            Nou Barris          2013  165748
                                 2014  164516
                                 2015  164648
                                 2016  164881
                                 2017  166579
9            Sant Andreu         2013  146846
                                 2014  145983
                                 2015  146494
                                 2016  146731
                                 2017  147594
10           Sant Martí          2013  232826
                                 2014  232629
                                 2015  233659
                                 2016  233928
                                 2017  235513

In [16]:
(popul_data.groupby(["Gender","Year"])["Number"].sum()).to_frame()

             Number
Gender Year
Female 2013  848121
       2014  844070
       2015  845035
       2016  847259
       2017  854184
Male   2013  763701
       2014  758316
       2015  759520
       2016  761487
       2017  766625

In [17]:
(popul_data.groupby(["Age","Year"])["Number"].sum()).to_frame()

            Number
Age   Year
0-4   2013   69267
      2014   68901
      2015   68661
      2016   68286
      2017   68402
10-14 2013   62566
      2014   63599
      2015   64632
      2016   65584
      2017   67575
15-19 2013   63540
      2014   62792
      2015   63436
      2016   64613
      2017   65953
20-24 2013   78485
      2014   76521
      2015   76575
      2016   77442
      2017   79062
25-29 2013  110563
      2014  105152
      2015  103101
      2016  103320
      2017  106489
30-34 2013  138330
      2014  131846
      2015  127772
      2016  123597
      2017  122353
...            ...
70-74 2013   66101
      2014   69372
      2015   75221
      2016   75465
      2017   77501
75-79 2013   70531
      2014   66453
      2015   60913
      2016   62026
      2017   59962
80-84 2013   59803
      2014   60484
      2015   60599
      2016   59776
      2017   59453
85-89 2013   38072
      2014   38795
      2015   39416
      2016   40507
      2017   41136
90-94 2013   15473
      2014   16385
      2015   17581
      2016   18285
      2017   19016
>=95  2013    4251
      2014    4488
      2015    4751
      2016    5040
      2017    5415

[100 rows x 1 columns]

In [18]:
(popul_data.groupby(["Age","Year","Gender"])["Number"].sum()).to_frame()

                   Number
Age   Year Gender
0-4   2013 Female   33548
           Male     35719
      2014 Female   33510
           Male     35391
      2015 Female   33425
           Male     35236
      2016 Female   33205
           Male     35081
      2017 Female   33328
           Male     35074
10-14 2013 Female   30513
           Male     32053
      2014 Female   31040
           Male     32559
      2015 Female   31482
           Male     33150
      2016 Female   32076
           Male     33508
      2017 Female   33064
           Male     34511
15-19 2013 Female   30732
           Male     32808
      2014 Female   30309
           Male     32483
      2015 Female   30657
           Male     32779
      2016 Female   31149
           Male     33464
      2017 Female   31950
           Male     34003
...                   ...
85-89 2013 Female   26185
           Male     11887
      2014 Female   26485
           Male     12310
      2015 Female   26707
           Male     12709
      2016 Female   27246
           Male     13261
      2017 Female   27416
           Male     13720
90-94 2013 Female   11627
           Male      3846
      2014 Female   12200
           Male      4185
      2015 Female   12979
           Male      4602
      2016 Female   13397
           Male      4888
      2017 Female   13964
           Male      5052
>=95  2013 Female    3440
           Male       811
      2014 Female    3623
           Male       865
      2015 Female    3857
           Male       894
      2016 Female    4093
           Male       947
      2017 Female    4344
           Male      1071

[200 rows x 1 columns]

In [19]:
(popul_data.groupby(["DistrictCode","DistrictName","Year"])["Number"].sum()).to_frame()

                                       Number
DistrictCode DistrictName        Year
1            Ciutat Vella        2013  103339
                                 2014  100685
                                 2015  100115
                                 2016  100070
                                 2017  101387
2            Eixample            2013  264780
                                 2014  263565
                                 2015  263558
                                 2016  264305
                                 2017  266416
3            Sants-Montjuïc      2013  182685
                                 2014  180824
                                 2015  180757
                                 2016  180977
                                 2017  181910
4            Les Corts           2013   81640
                                 2014   81200
                                 2015   81530
                                 2016   81642
                                 2017   82033
5            Sarrià-Sant Gervasi 2013  145266
                                 2014  145761
                                 2015  146834
                                 2016  148026
                                 2017  149279
6            Gràcia              2013  120949
                                 2014  120273
                                 2015  120401
                                 2016  120918
                                 2017  121347
7            Horta-Guinardó      2013  167743
                                 2014  166950
                                 2015  166559
                                 2016  167268
                                 2017  168751
8            Nou Barris          2013  165748
                                 2014  164516
                                 2015  164648
                                 2016  164881
                                 2017  166579
9            Sant Andreu         2013  146846
                                 2014  145983
                                 2015  146494
                                 2016  146731
                                 2017  147594
10           Sant Martí          2013  232826
                                 2014  232629
                                 2015  233659
                                 2016  233928
                                 2017  235513

In [20]:
(popul_data.groupby(["DistrictName","NeighborhoodName","Year"])["Number"].sum()).to_frame()

                                                                Number
DistrictName        NeighborhoodName                      Year
Ciutat Vella        Sant Pere, Santa Caterina i la Ribera 2013   22769
                                                          2014   22358
                                                          2015   22457
                                                          2016   22306
                                                          2017   22721
                    el Barri Gòtic                        2013   16267
                                                          2014   15734
                                                          2015   15484
                                                          2016   15614
                                                          2017   16062
                    el Raval                              2013   48800
                                                          2014   47489
                                                          2015   47142
                                                          2016   47129
                                                          2017   47608
                    la Barceloneta                        2013   15503
                                                          2014   15104
                                                          2015   15032
                                                          2016   15021
                                                          2017   14996
Eixample            Sant Antoni                           2013   38260
                                                          2014   38096
                                                          2015   38033
                                                          2016   38184
                                                          2017   38345
                    el Fort Pienc                         2013   31738
                                                          2014   31494
                                                          2015   31543
                                                          2016   31653
                                                          2017   32016
...                                                                ...
Sarrià-Sant Gervasi Sant Gervasi - Galvany                2013   46486
                                                          2014   46466
                                                          2015   46708
                                                          2016   47089
                                                          2017   47666
                    Sant Gervasi - la Bonanova            2013   24607
                                                          2014   24926
                                                          2015   25246
                                                          2016   25665
                                                          2017   25774
                    Sarrià                                2013   24450
                                                          2014   24523
                                                          2015   24641
                                                          2016   24799
                                                          2017   25032
                    Vallvidrera, el Tibidabo i les Planes 2013    4437
                                                          2014    4514
                                                          2015    4602
                                                          2016    4632
                                                          2017    4670
                    el Putxet i el Farró                  2013   29302
                                                          2014   29171
                                                          2015   29139
                                                          2016   29368
                                                          2017   29470
                    les Tres Torres                       2013   15984
                                                          2014   16161
                                                          2015   16498
                                                          2016   16473
                                                          2017   16667

[365 rows x 1 columns]

In [21]:
(popul_data.groupby(["DistrictCode","DistrictName","Year","Gender"])["Number"].sum()).to_frame()

                                         Number
DistrictCode DistrictName   Year Gender
1            Ciutat Vella   2013 Female   48836
                                 Male     54503
                            2014 Female   47878
                                 Male     52807
                            2015 Female   47579
                                 Male     52536
                            2016 Female   47633
                                 Male     52437
                            2017 Female   48467
                                 Male     52920
2            Eixample       2013 Female  142614
                                 Male    122166
                            2014 Female  141589
                                 Male    121976
                            2015 Female  141341
                                 Male    122217
                            2016 Female  141539
                                 Male    122766
                            2017 Female  142554
                                 Male    123862
3            Sants-Montjuïc 2013 Female   95071
                                 Male     87614
                            2014 Female   94256
                                 Male     86568
                            2015 Female   94194
                                 Male     86563
                            2016 Female   94461
                                 Male     86516
                            2017 Female   95006
                                 Male     86904
...                                         ...
8            Nou Barris     2013 Female   87234
                                 Male     78514
                            2014 Female   86828
                                 Male     77688
                            2015 Female   87012
                                 Male     77636
                            2016 Female   87220
                                 Male     77661
                            2017 Female   88348
                                 Male     78231
9            Sant Andreu    2013 Female   76990
                                 Male     69856
                            2014 Female   76689
                                 Male     69294
                            2015 Female   77091
                                 Male     69403
                            2016 Female   77133
                                 Male     69598
                            2017 Female   77571
                                 Male     70023
10           Sant Martí     2013 Female  120509
                                 Male    112317
                            2014 Female  120585
                                 Male    112044
                            2015 Female  121162
                                 Male    112497
                            2016 Female  121379
                                 Male    112549
                            2017 Female  122263
                                 Male    113250

[100 rows x 1 columns]

In [22]:
(popul_data.groupby(["DistrictCode","DistrictName","NeighborhoodCode","NeighborhoodName","Year","Gender"])["Number"].sum()).to_frame()

                                                                                 Number
DistrictCode DistrictName NeighborhoodCode NeighborhoodName         Year Gender
1            Ciutat Vella 1                el Raval                 2013 Female   22095
                                                                         Male     26705
                                                                    2014 Female   21643
                                                                         Male     25846
                                                                    2015 Female   21453
                                                                         Male     25689
                                                                    2016 Female   21379
                                                                         Male     25750
                                                                    2017 Female   21806
                                                                         Male     25802
                          2                el Barri Gòtic           2013 Female    7570
                                                                         Male      8697
                                                                    2014 Female    7447
                                                                         Male      8287
                                                                    2015 Female    7351
                                                                         Male      8133
                                                                    2016 Female    7504
                                                                         Male      8110
                                                                    2017 Female    7708
                                                                         Male      8354
                          3                la Barceloneta           2013 Female    7736
                                                                         Male      7767
                                                                    2014 Female    7610
                                                                         Male      7494
                                                                    2015 Female    7534
                                                                         Male      7498
                                                                    2016 Female    7522
                                                                         Male      7499
                                                                    2017 Female    7541
                                                                         Male      7455
...                                                                                 ...
10           Sant Martí   71               Provençals del Poblenou  2013 Female   10362
                                                                         Male      9690
                                                                    2014 Female   10404
                                                                         Male      9692
                                                                    2015 Female   10420
                                                                         Male      9741
                                                                    2016 Female   10537
                                                                         Male      9832
                                                                    2017 Female   10605
                                                                         Male      9882
                          72               Sant Martí de Provençals 2013 Female   13814
                                                                         Male     12180
                                                                    2014 Female   13751
                                                                         Male     12166
                                                                    2015 Female   13801
                                                                         Male     12174
                                                                    2016 Female   13774
                                                                         Male     12236
                                                                    2017 Female   13838
                                                                         Male     12308
                          73               la Verneda i la Pau      2013 Female   15222
                                                                         Male     13932
                                                                    2014 Female   15064
                                                                         Male     13749
                                                                    2015 Female   15057
                                                                         Male     13681
                                                                    2016 Female   15055
                                                                         Male     13590
                                                                    2017 Female   15070
                                                                         Male     13621

[730 rows x 1 columns]

In [23]:
(popul_data.groupby("Year")["Number"].sum()).to_frame()

       Number
Year
2013  1611822
2014  1602386
2015  1604555
2016  1608746
2017  1620809

In [24]:
(popul_data.groupby(["Year","Gender"])["Number"].sum()).to_frame()

             Number
Year Gender
2013 Female  848121
     Male    763701
2014 Female  844070
     Male    758316
2015 Female  845035
     Male    759520
2016 Female  847259
     Male    761487
2017 Female  854184
     Male    766625

In [25]:
(popul_data.groupby(["Year","DistrictName"])["Number"].sum()).to_frame()

                          Number
Year DistrictName
2013 Ciutat Vella         103339
     Eixample             264780
     Gràcia               120949
     Horta-Guinardó       167743
     Les Corts             81640
     Nou Barris           165748
     Sant Andreu          146846
     Sant Martí           232826
     Sants-Montjuïc       182685
     Sarrià-Sant Gervasi  145266
2014 Ciutat Vella         100685
     Eixample             263565
     Gràcia               120273
     Horta-Guinardó       166950
     Les Corts             81200
     Nou Barris           164516
     Sant Andreu          145983
     Sant Martí           232629
     Sants-Montjuïc       180824
     Sarrià-Sant Gervasi  145761
2015 Ciutat Vella         100115
     Eixample             263558
     Gràcia               120401
     Horta-Guinardó       166559
     Les Corts             81530
     Nou Barris           164648
     Sant Andreu          146494
     Sant Martí           233659
     Sants-Montjuïc       180757
     Sarrià-Sant Gervasi  146834
2016 Ciutat Vella         100070
     Eixample             264305
     Gràcia               120918
     Horta-Guinardó       167268
     Les Corts             81642
     Nou Barris           164881
     Sant Andreu          146731
     Sant Martí           233928
     Sants-Montjuïc       180977
     Sarrià-Sant Gervasi  148026
2017 Ciutat Vella         101387
     Eixample             266416
     Gràcia               121347
     Horta-Guinardó       168751
     Les Corts             82033
     Nou Barris           166579
     Sant Andreu          147594
     Sant Martí           235513
     Sants-Montjuïc       181910
     Sarrià-Sant Gervasi  149279