In [2]:

import pandas as pd
import numpy as np

In [3]:
population_data = pd.read_csv("data/population.csv")
population_data.head()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124

In [4]:
#Renaming columns 
popul_data = population_data.rename(columns={"District.Code": "DistrictCode","District.Name": "DistrictName","Neighborhood.Code": "NeighborhoodCode", "Neighborhood.Name":"NeighborhoodName"})
popul_data

,Year,DistrictCode,DistrictName,NeighborhoodCode,NeighborhoodName,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124
5,2017,2,Eixample,6,la Sagrada Família,Male,0-4,191
6,2017,2,Eixample,7,la Dreta de l'Eixample,Male,0-4,176
7,2017,2,Eixample,8,l'Antiga Esquerra de l'Eixample,Male,0-4,158
8,2017,2,Eixample,9,la Nova Esquerra de l'Eixample,Male,0-4,220
9,2017,2,Eixample,10,Sant Antoni,Male,0-4,143
10,2017,3,Sants-Montjuïc,11,el Poble Sec,Male,0-4,180
11,2017,3,Sants-Montjuïc,12,la Marina del Prat Vermell,Male,0-4,10
12,2017,3,Sants-Montjuïc,13,la Marina de Port,Male,0-4,124
13,2017,3,Sants-Montjuïc,14,la Font de la Guatlla,Male,0-4,47
14,2017,3,Sants-Montjuïc,15,Hostafrancs,Male,0-4,79
15,2017,3,Sants-Montjuïc,16,la Bordeta,Male,0-4,80
16,2017,3,Sants-Montjuïc,17,Sants - Badal,Male,0-4,84
17,2017,3,Sants-Montjuïc,18,Sants,Male,0-4,195
18,2017,4,Les Corts,19,les Corts,Male,0-4,173
19,2017,4,Les Corts,20,la Maternitat i Sant Ramon,Male,0-4,85
20,2017,4,Les Corts,21,Pedralbes,Male,0-4,37
21,2017,5,Sarrià-Sant Gervasi,22,"Vallvidrera, el Tibidabo i les Planes",Male,0-4,16
22,2017,5,Sarrià-Sant Gervasi,23,Sarrià,Male,0-4,119
23,2017,5,Sarrià-Sant Gervasi,24,les Tres Torres,Male,0-4,71
24,2017,5,Sarrià-Sant Gervasi,25,Sant Gervasi - la Bonanova,Male,0-4,104
25,2017,5,Sarrià-Sant Gervasi,26,Sant Gervasi - Galvany,Male,0-4,203
26,2017,5,Sarrià-Sant Gervasi,27,el Putxet i el Farró,Male,0-4,150
27,2017,6,Gràcia,28,Vallcarca i els Penitents,Male,0-4,66
28,2017,6,Gràcia,29,el Coll,Male,0-4,37
29,2017,6,Gràcia,30,la Salut,Male,0-4,57
...,...,...,...,...,...,...,...,...
70050,2013,8,Nou Barris,44,Vilapicina i la Torre Llobeta,Female,>=95,67
70051,2013,8,Nou Barris,45,Porta,Female,>=95,43
70052,2013,8,Nou Barris,46,el Turó de la Peira,Female,>=95,18
70053,2013,8,Nou Barris,47,Can Peguera,Female,>=95,5
70054,2013,8,Nou Barris,48,la Guineueta,Female,>=95,13
70055,2013,8,Nou Barris,49,Canyelles,Female,>=95,3
70056,2013,8,Nou Barris,50,les Roquetes,Female,>=95,12
70057,2013,8,Nou Barris,51,Verdun,Female,>=95,15
70058,2013,8,Nou Barris,52,la Prosperitat,Female,>=95,23
70059,2013,8,Nou Barris,53,la Trinitat Nova,Female,>=95,17
70060,2013,8,Nou Barris,54,Torre Baró,Female,>=95,4
70061,2013,8,Nou Barris,55,Ciutat Meridiana,Female,>=95,4
70062,2013,8,Nou Barris,56,Vallbona,Female,>=95,5
70063,2013,9,Sant Andreu,57,la Trinitat Vella,Female,>=95,9
70064,2013,9,Sant Andreu,58,Baró de Viver,Female,>=95,3
70065,2013,9,Sant Andreu,59,el Bon Pastor,Female,>=95,8
70066,2013,9,Sant Andreu,60,Sant Andreu,Female,>=95,103
70067,2013,9,Sant Andreu,61,la Sagrera,Female,>=95,45
70068,2013,9,Sant Andreu,62,el Congrés i els Indians,Female,>=95,35
70069,2013,9,Sant Andreu,63,Navas,Female,>=95,39
70070,2013,10,Sant Martí,64,el Camp de l'Arpa del Clot,Female,>=95,91
70071,2013,10,Sant Martí,65,el Clot,Female,>=95,36
70072,2013,10,Sant Martí,66,el Parc i la Llacuna del Poblenou,Female,>=95,18
70073,2013,10,Sant Martí,67,la Vila Olímpica del Poblenou,Female,>=95,9
70074,2013,10,Sant Martí,68,el Poblenou,Female,>=95,48
70075,2013,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Female,>=95,21
70076,2013,10,Sant Martí,70,el Besòs i el Maresme,Female,>=95,25
70077,2013,10,Sant Martí,71,Provençals del Poblenou,Female,>=95,31
70078,2013,10,Sant Martí,72,Sant Martí de Provençals,Female,>=95,38
70079,2013,10,Sant Martí,73,la Verneda i la Pau,Female,>=95,47

In [5]:
popul_data.DistrictName.unique()

array(['Ciutat Vella', 'Eixample', 'Sants-Montjuïc', 'Les Corts',
       'Sarrià-Sant Gervasi', 'Gràcia', 'Horta-Guinardó', 'Nou Barris',
       'Sant Andreu', 'Sant Martí'], dtype=object)

In [6]:
popul_data.sample()

,Year,DistrictCode,DistrictName,NeighborhoodCode,NeighborhoodName,Gender,Age,Number
46990,2014,8,Nou Barris,52,la Prosperitat,Male,65-69,146

In [7]:
popul_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70080 entries, 0 to 70079
Data columns (total 8 columns):
Year                70080 non-null int64
DistrictCode        70080 non-null int64
DistrictName        70080 non-null object
NeighborhoodCode    70080 non-null int64
NeighborhoodName    70080 non-null object
Gender              70080 non-null object
Age                 70080 non-null object
Number              70080 non-null int64
dtypes: int64(4), object(4)
memory usage: 4.3+ MB

In [8]:
popul_data.columns

Index(['Year', 'DistrictCode', 'DistrictName', 'NeighborhoodCode',
       'NeighborhoodName', 'Gender', 'Age', 'Number'],
      dtype='object')

In [9]:
popul_data.isnull().sum()

Year                0
DistrictCode        0
DistrictName        0
NeighborhoodCode    0
NeighborhoodName    0
Gender              0
Age                 0
Number              0
dtype: int64

In [10]:
popul_data.index

RangeIndex(start=0, stop=70080, step=1)

In [11]:
popul_data.shape

(70080, 8)

In [12]:
popul_data.describe()

               Year  DistrictCode  NeighborhoodCode        Number
count  70080.000000  70080.000000      70080.000000  70080.000000
mean    2015.000000      6.246575         37.000000    114.844720
std        1.414224      2.788356         21.071458     96.540389
min     2013.000000      1.000000          1.000000      0.000000
25%     2014.000000      4.000000         19.000000     43.000000
50%     2015.000000      7.000000         37.000000     92.000000
75%     2016.000000      8.000000         55.000000    162.000000
max     2017.000000     10.000000         73.000000    777.000000

In [13]:
popul_data.dtypes

Year                 int64
DistrictCode         int64
DistrictName        object
NeighborhoodCode     int64
NeighborhoodName    object
Gender              object
Age                 object
Number               int64
dtype: object

In [20]:
popul_data.Number.sum()

8048318

In [14]:
(popul_data.groupby("DistrictName")["Number"].sum()).to_frame().reset_index()

          DistrictName   Number
0         Ciutat Vella   505596
1             Eixample  1322624
2               Gràcia   603888
3       Horta-Guinardó   837271
4            Les Corts   408045
5           Nou Barris   826372
6          Sant Andreu   733648
7           Sant Martí  1168555
8       Sants-Montjuïc   907153
9  Sarrià-Sant Gervasi   735166

In [15]:
(popul_data.groupby("Gender")["Number"].sum()).to_frame().reset_index()

   Gender   Number
0  Female  4238669
1    Male  3809649

In [21]:
(popul_data.groupby("Age")["Number"].sum()).to_frame().reset_index()

      Age  Number
0     0-4  343517
1   10-14  323956
2   15-19  320334
3   20-24  388085
4   25-29  528625
5   30-34  643898
6   35-39  695727
7   40-44  646874
8   45-49  587788
9     5-9  342661
10  50-54  550379
11  55-59  498789
12  60-64  449216
13  65-69  436198
14  70-74  363660
15  75-79  319885
16  80-84  300115
17  85-89  197926
18  90-94   86740
19   >=95   23945

In [24]:
(popul_data.groupby(["Gender","Age"])["Number"].sum()).to_frame()

              Number
Gender Age
Female 0-4    167016
       10-14  158175
       15-19  154797
       20-24  193809
       25-29  271307
       30-34  322712
       35-39  341078
       40-44  319783
       45-49  298630
       5-9    166539
       50-54  289003
       55-59  268292
       60-64  246157
       65-69  242338
       70-74  205113
       75-79  188774
       80-84  187583
       85-89  134039
       90-94   64167
       >=95    19357
Male   0-4    176501
       10-14  165781
       15-19  165537
       20-24  194276
       25-29  257318
       30-34  321186
       35-39  354649
       40-44  327091
       45-49  289158
       5-9    176122
       50-54  261376
       55-59  230497
       60-64  203059
       65-69  193860
       70-74  158547
       75-79  131111
       80-84  112532
       85-89   63887
       90-94   22573
       >=95     4588

In [16]:
(popul_data.groupby(["DistrictCode","DistrictName"])["Number"].sum()).to_frame().reset_index()

   DistrictCode         DistrictName   Number
0             1         Ciutat Vella   505596
1             2             Eixample  1322624
2             3       Sants-Montjuïc   907153
3             4            Les Corts   408045
4             5  Sarrià-Sant Gervasi   735166
5             6               Gràcia   603888
6             7       Horta-Guinardó   837271
7             8           Nou Barris   826372
8             9          Sant Andreu   733648
9            10           Sant Martí  1168555

In [17]:
(popul_data.groupby(["DistrictCode","DistrictName","NeighborhoodCode","NeighborhoodName"])["Number"].sum()).to_frame()

                                                                                                Number
DistrictCode DistrictName        NeighborhoodCode NeighborhoodName
1            Ciutat Vella        1                el Raval                                      238168
                                 2                el Barri Gòtic                                 79161
                                 3                la Barceloneta                                 75656
                                 4                Sant Pere, Santa Caterina i la Ribera         112611
2            Eixample            5                el Fort Pienc                                 158444
                                 6                la Sagrada Família                            257063
                                 7                la Dreta de l'Eixample                        217976
                                 8                l'Antiga Esquerra de l'Eixample               209292
                                 9                la Nova Esquerra de l'Eixample                288931
                                 10               Sant Antoni                                   190918
3            Sants-Montjuïc      11               el Poble Sec                                  201753
                                 12               la Marina del Prat Vermell                      5733
                                 13               la Marina de Port                             151519
                                 14               la Font de la Guatlla                          51691
                                 15               Hostafrancs                                    79166
                                 16               la Bordeta                                     92395
                                 17               Sants - Badal                                 120386
                                 18               Sants                                         204510
4            Les Corts           19               les Corts                                     230108
                                 20               la Maternitat i Sant Ramon                    118844
                                 21               Pedralbes                                      59093
5            Sarrià-Sant Gervasi 22               Vallvidrera, el Tibidabo i les Planes          22855
                                 23               Sarrià                                        123445
                                 24               les Tres Torres                                81783
                                 25               Sant Gervasi - la Bonanova                    126218
                                 26               Sant Gervasi - Galvany                        234415
                                 27               el Putxet i el Farró                          146450
6            Gràcia              28               Vallcarca i els Penitents                      77708
                                 29               el Coll                                        36587
                                 30               la Salut                                       65906
...                                                                                                ...
8            Nou Barris          44               Vilapicina i la Torre Llobeta                 127429
                                 45               Porta                                         122176
                                 46               el Turó de la Peira                            77279
                                 47               Can Peguera                                    11296
                                 48               la Guineueta                                   75546
                                 49               Canyelles                                      34815
                                 50               les Roquetes                                   77718
                                 51               Verdun                                         61289
                                 52               la Prosperitat                                130923
                                 53               la Trinitat Nova                               36789
                                 54               Torre Baró                                     13113
                                 55               Ciutat Meridiana                               51284
                                 56               Vallbona                                        6715
9            Sant Andreu         57               la Trinitat Vella                              50738
                                 58               Baró de Viver                                  12424
                                 59               el Bon Pastor                                  63173
                                 60               Sant Andreu                                   283114
                                 61               la Sagrera                                    144338
                                 62               el Congrés i els Indians                       70134
                                 63               Navas                                         109727
10           Sant Martí          64               el Camp de l'Arpa del Clot                    190178
                                 65               el Clot                                       135074
                                 66               el Parc i la Llacuna del Poblenou              73648
                                 67               la Vila Olímpica del Poblenou                  46711
                                 68               el Poblenou                                   166715
                                 69               Diagonal Mar i el Front Marítim del Poblenou   66445
                                 70               el Besòs i el Maresme                         114536
                                 71               Provençals del Poblenou                       101165
                                 72               Sant Martí de Provençals                      130042
                                 73               la Verneda i la Pau                           144041

[73 rows x 1 columns]

In [18]:
(popul_data.groupby(["DistrictCode","DistrictName","Gender"])["Number"].sum()).to_frame()

                                         Number
DistrictCode DistrictName        Gender
1            Ciutat Vella        Female  240393
                                 Male    265203
2            Eixample            Female  709637
                                 Male    612987
3            Sants-Montjuïc      Female  472988
                                 Male    434165
4            Les Corts           Female  217859
                                 Male    190186
5            Sarrià-Sant Gervasi Female  398621
                                 Male    336545
6            Gràcia              Female  327386
                                 Male    276502
7            Horta-Guinardó      Female  443771
                                 Male    393500
8            Nou Barris          Female  436642
                                 Male    389730
9            Sant Andreu         Female  385474
                                 Male    348174
10           Sant Martí          Female  605898
                                 Male    562657

In [19]:
(popul_data.groupby(["DistrictCode","DistrictName","NeighborhoodCode","NeighborhoodName","Gender"])["Number"].sum()).to_frame()

                                                                                                  Number
DistrictCode DistrictName   NeighborhoodCode NeighborhoodName                             Gender
1            Ciutat Vella   1                el Raval                                     Female  108376
                                                                                          Male    129792
                            2                el Barri Gòtic                               Female   37580
                                                                                          Male     41581
                            3                la Barceloneta                               Female   37943
                                                                                          Male     37713
                            4                Sant Pere, Santa Caterina i la Ribera        Female   56494
                                                                                          Male     56117
2            Eixample       5                el Fort Pienc                                Female   84090
                                                                                          Male     74354
                            6                la Sagrada Família                           Female  139195
                                                                                          Male    117868
                            7                la Dreta de l'Eixample                       Female  117625
                                                                                          Male    100351
                            8                l'Antiga Esquerra de l'Eixample              Female  112725
                                                                                          Male     96567
                            9                la Nova Esquerra de l'Eixample               Female  155036
                                                                                          Male    133895
                            10               Sant Antoni                                  Female  100966
                                                                                          Male     89952
3            Sants-Montjuïc 11               el Poble Sec                                 Female  102517
                                                                                          Male     99236
                            12               la Marina del Prat Vermell                   Female    2811
                                                                                          Male      2922
                            13               la Marina de Port                            Female   78449
                                                                                          Male     73070
                            14               la Font de la Guatlla                        Female   27342
                                                                                          Male     24349
                            15               Hostafrancs                                  Female   41206
                                                                                          Male     37960
...                                                                                                  ...
9            Sant Andreu    59               el Bon Pastor                                Female   31512
                                                                                          Male     31661
                            60               Sant Andreu                                  Female  149494
                                                                                          Male    133620
                            61               la Sagrera                                   Female   76821
                                                                                          Male     67517
                            62               el Congrés i els Indians                     Female   38187
                                                                                          Male     31947
                            63               Navas                                        Female   58626
                                                                                          Male     51101
10           Sant Martí     64               el Camp de l'Arpa del Clot                   Female  101129
                                                                                          Male     89049
                            65               el Clot                                      Female   70160
                                                                                          Male     64914
                            66               el Parc i la Llacuna del Poblenou            Female   38171
                                                                                          Male     35477
                            67               la Vila Olímpica del Poblenou                Female   23817
                                                                                          Male     22894
                            68               el Poblenou                                  Female   85570
                                                                                          Male     81145
                            69               Diagonal Mar i el Front Marítim del Poblenou Female   33937
                                                                                          Male     32508
                            70               el Besòs i el Maresme                        Female   56340
                                                                                          Male     58196
                            71               Provençals del Poblenou                      Female   52328
                                                                                          Male     48837
                            72               Sant Martí de Provençals                     Female   68978
                                                                                          Male     61064
                            73               la Verneda i la Pau                          Female   75468
                                                                                          Male     68573

[146 rows x 1 columns]